@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&family=Poppins:wght@400;600;700&family=Rajdhani:wght@400;500&family=Roboto:wght@400;500&display=swap");
@font-face {
  font-family: BRO;
  src: url("../../src/assets/fonts/BRO/BRO.otf");
}
@font-face {
  font-family: Browess Sovar;
  src: url("../../src/assets/fonts/BrowessSovar/BrowessSovar.otf");
}
@font-face {
  font-family: AIRNT;
  src: url("../../src/assets/fonts/AIRNT/Airnt.otf");
}
@font-face {
  font-family: "AIRNT Bold";
  src: url("../../src/assets/fonts/AIRNT/AirntBold.otf");
}
@font-face {
  font-family: AIRNT Quantum;
  src: url("../../src/assets/fonts/AIRNT/AirntQuantum.otf");
}
@font-face {
  font-family: Madjoe;
  src: url("../../src/assets/fonts/Madjoe/Madjoe.ttf");
}
@font-face {
  font-family: KidoProject;
  src: url("../../src/assets/fonts/KidoProject/KidoProject/KidoProject.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  cursor: auto;
  scroll-behavior: smooth;
  background: #000000;
  color: #fff;
  height: 200vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Nav Menu Checkbox */
.hamburger {
  cursor: pointer;
}
.hamburger input {
  display: none;
}
.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger input:checked + svg {
  transform: rotate(-45deg);
}
.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

/* Mobile Breakpoint */
@media (max-width: 600px) {
  .preloader {
    display: none;
  }
  .inner-cursor {
    display: none;
  }
  .outer-cursor {
    display: none;
  }
  .header-div .nav-flex-container {
    display: flex;
    align-items: center;
  }
  .header-div .nav-flex-container .nav-menu {
    display: block;
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
  .header-div .nav-flex-container ul {
    display: none;
    transition: 0.5s ease-in-out;
  }
}
.welcome-div {
  transform: translate(0%, -170%);
  transition: 0.5s ease;
}
.welcome-div .welcome-text {
  font-size: 1.5rem;
}
.welcome-div .welcome-text h1 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container .underline-svg {
  transform: translate(0%, 150%);
}

::-webkit-scrollbar {
  width: 0.5em;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #09f069;
}

@media (max-width: 526px) {
  .welcome-div {
    transform: translate(0%, -100%);
    transition: 0.5s ease;
  }
}/*# sourceMappingURL=global.css.map */