@font-face {
    font-family: BRO;
    src: url("../../src/assets/fonts/BRO/BRO.otf");
}

@font-face {
    font-family: Browess Sovar;
    src: url("../../src/assets/fonts/BrowessSovar/BrowessSovar.otf");
}

@font-face {
    font-family: AIRNT;
    src: url("../../src/assets/fonts/AIRNT/Airnt.otf");
}

@font-face {
    font-family: "AIRNT Bold";
    src: url("../../src/assets/fonts/AIRNT/AirntBold.otf");
}

@font-face {
    font-family: AIRNT Quantum ;
    src: url("../../src/assets/fonts/AIRNT/AirntQuantum.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&family=Poppins:wght@400;600;700&family=Rajdhani:wght@400;500&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #D5DFE9;
}