@use "../../globalStyles/global.scss";

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
};

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.preloader{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200%;
    background-color: #ff3c2a77;
    transition: 1s;
    z-index: 1;

    .loader-tile {
        background-color: #000;
        width: 100%;
        height: 100%;
        

        transition: .5s ease;
    }
}

.preloader.loaded{
    opacity: 0;
    transition: 1s;
    pointer-events: none;
    .loader-tile:nth-child(1){
        transform: translate(0%, -100%);
        transition: .5s ease;
    }

    .loader-tile:nth-child(2) {
        transform: translate(0%, 100%);
        transition: .5s ease;
    }
}

.header-div {
    @include flexCenter();
    position: fixed;
    justify-content: space-between;
    width: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);


    .nav-brand {
        padding-left: 2rem;
        cursor: pointer;

        h1 {
            font-family: "Browess Sovar";
            text-decoration: line-through;
            font-size: 2rem;
            color: #FF3A2A;
        }
    }

    ul {
        width: 30rem;
        padding-right: 1rem;
        gap: 1.5rem;
        list-style: none;
        @include flexCenter();

        li {
            cursor: pointer;
            font-family: "Browess Sovar", sans-serif;
            font-size: 1.5rem;
            color: #000;
            transition: 1s ease;
        }

        li:hover {
            color: #FF3A2A;
            transition: .5s ease;
        }
    }
}



@media (min-width: 425px) {
    .nav-link {
        color: greenyellow;
    }
}