@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&family=Poppins:wght@400;600;700&family=Rajdhani:wght@400;500&family=Roboto:wght@400;500&display=swap");
@font-face {
  font-family: BRO;
  src: url("../../src/assets/fonts/BRO/BRO.otf");
}
@font-face {
  font-family: Browess Sovar;
  src: url("../../src/assets/fonts/BrowessSovar/BrowessSovar.otf");
}
@font-face {
  font-family: AIRNT;
  src: url("../../src/assets/fonts/AIRNT/Airnt.otf");
}
@font-face {
  font-family: "AIRNT Bold";
  src: url("../../src/assets/fonts/AIRNT/AirntBold.otf");
}
@font-face {
  font-family: AIRNT Quantum;
  src: url("../../src/assets/fonts/AIRNT/AirntQuantum.otf");
}
@font-face {
  font-family: Madjoe;
  src: url("../../src/assets/fonts/Madjoe/Madjoe.ttf");
}
@font-face {
  font-family: KidoProject;
  src: url("../../src/assets/fonts/KidoProject/KidoProject/KidoProject.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  cursor: auto;
  scroll-behavior: smooth;
  background: #000000;
  color: #fff;
  height: 200vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Nav Menu Checkbox */
.hamburger {
  cursor: pointer;
}
.hamburger input {
  display: none;
}
.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger input:checked + svg {
  transform: rotate(-45deg);
}
.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

/* Mobile Breakpoint */
@media (max-width: 600px) {
  .inner-cursor {
    display: none;
  }
  .outer-cursor {
    display: none;
  }
  .header-div .nav-flex-container {
    display: flex;
    align-items: center;
  }
  .header-div .nav-flex-container .nav-menu {
    display: block;
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
  .header-div .nav-flex-container ul {
    display: none;
    transition: 0.5s ease-in-out;
  }
}
.welcome-div {
  transform: translate(0%, -170%);
  transition: 0.5s ease;
}
.welcome-div .welcome-text {
  font-size: 1.5rem;
}
.welcome-div .welcome-text h1 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container .underline-svg {
  transform: translate(0%, 150%);
}

::-webkit-scrollbar {
  width: 0.5em;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #09f069;
}

@media (max-width: 526px) {
  .welcome-div {
    transform: translate(0%, -100%);
    transition: 0.5s ease;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 2.1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container .arrow-div,
.container .underline-svg {
  position: absolute;
}
.container .arrow-div svg,
.container .underline-svg svg {
  transform: scale(2);
  width: 150px;
}
.container .arrow-div svg path,
.container .underline-svg svg path {
  fill: none;
  stroke: #09f069;
  stroke-width: 1px;
  stroke-dasharray: 2.1;
  stroke-dashoffset: 2.1;
  animation: dash 5s linear forwards;
  animation-delay: 4s;
}
.container .underline-svg {
  transform: translateY(300%);
}
.container .underline-svg svg {
  transform: scale(5);
}
.container .underline-svg svg path {
  animation: dash 3.5s ease-out forwards;
  animation-delay: 1.8s;
}
.container .actual-professional-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  transform: rotate(90deg) translateY(110px);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  background-color: #09f069;
  padding: 0.2rem 0.8rem;
  transition: transform 1s;
}
.container .actual-professional-stats a {
  color: #000;
  text-decoration: none;
}
.container .actual-professional-stats .char {
  transform: translateY(115px);
  transition: transform 2s;
  transition-delay: 1s;
}

.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: 1s;
  z-index: 1;
  pointer-events: none;
}
.preloader .loader-tile {
  background-color: #ffffff;
  width: 200%;
  height: 100%;
  transform: translate(0%, 0%);
  transition: ease-in;
}

.preloader.loaded {
  opacity: 0;
  transition: 2s;
  pointer-events: none;
}

.tiles-div {
  width: 100%;
  height: 100%;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  top: 3.5%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.header-div .nav-brand {
  transform: translate(-120%, 0%);
  padding-left: 2rem;
  transition: transform 1s;
}
.header-div .nav-brand a {
  font-family: "Browess Sovar";
  font-size: 2rem;
  color: #09f069;
}
.header-div .nav-brand a b {
  font-size: 2.8rem;
  font-family: "KidoProject";
}
.header-div .nav-flex-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.header-div .nav-flex-container .nav-menu {
  display: none;
}
.header-div .nav-flex-container ul {
  transform: translate(100%, 0%);
  width: 30rem;
  padding-right: 1rem;
  gap: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}
.header-div .nav-flex-container ul li a {
  text-decoration: none;
  font-family: "Madjoe", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  transition: 1s ease;
}
.header-div .nav-flex-container ul li a:hover {
  color: #09f069;
  transition: 0.5s ease;
}
.header-div .nav-flex-container .main-svg-menu-transition {
  position: absolute;
  display: block;
  top: 50%;
  right: 20%;
  transform: translate(200%, 50%);
}
.header-div .nav-flex-container .main-svg-menu-transition svg {
  transform: scale(2.5);
  width: 100vw;
}
.header-div .nav-flex-container .second-svg-menu-transition {
  position: absolute;
  display: block;
  transform: translate(500%, 200%);
  top: 50%;
  right: 20%;
}
.header-div .nav-flex-container .second-svg-menu-transition svg {
  transform: scale(7);
  width: 100vw;
}

.welcome-div {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.welcome-div .welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  font-size: 2rem;
  filter: brightness(10) blur(0.2px);
}
.welcome-div .welcome-text h1 {
  text-align: center;
  transform: translateY(200px);
  transition: transform 0.5s;
}/*# sourceMappingURL=styles.css.map */