@use "../../globalStyles/global.scss";

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

;

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    transition: 1s;
    z-index: 1;
    pointer-events: none;

    .loader-tile {
        background-color: #ffffff;
        width: 100%;
        height: 100%;


        transition: .5s ease;

    }


}

.preloader.loaded {
    opacity: 0;
    transition: 1s;
    pointer-events: none;

    .loader-tile:nth-child(1) {
        transform: translate(0%, -100%);
        transition: .5s ease;
    }

    .loader-tile:nth-child(2) {
        transform: translate(0%, 100%);
        transition: .5s ease;
    }
}

.tiles-div {
    width: 100%;
    height: 100%;
}

.header-div {
    @include flexCenter();
    position: fixed;
    justify-content: space-between;
    width: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);


    .nav-brand {
        padding-left: 2rem;

        a {
            font-family: "Browess Sovar";
            text-decoration: line-through;
            font-size: 2rem;
            color: #09f069;
        }
    }

    .nav-flex-container {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        .nav-menu {
            display: none;
        }

        ul {
            width: 30rem;
            padding-right: 1rem;
            gap: 1.5rem;
            list-style: none;
            @include flexCenter();
            transition: .5s ease-in-out;
    
            li {
                a {
                    text-decoration: none;
                    font-family: "Browess Sovar", sans-serif;
                    font-size: 1.5rem;
                    color: #ffffff;
                    transition: 1s ease;
                }
    
    
                a:hover {
                    color: #09f069;
                    transition: .5s ease;
                }
            }
        }
    }
}

